nav {
    background-color: #145c74;
}

body {
    background-color: #ffe082;
}

.header {
    padding: 1rem;
}

figure {
    margin-bottom: -6rem;
}

.project-container {
    background-color: #fff8e1;
    padding-top: 6rem;
}

.page-footer {
    background-color: #145c74;
}

